<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      IFinanças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IFinanças</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem vindo</strong>
    <p>Adicione suas contas e mantenha registro de seus gastos</p>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
      <ion-button  [routerLink]="['/bills']" fill="clear" color="medium" expand="block">Acessar módulo de contas</ion-button>
      <ion-button  (click)="logout()" fill="clear" color="medium" expand="block">Sair</ion-button>
  </ion-toolbar>
</ion-footer>