<ion-content class="ion-padding">

  <header-logo  title="Cadastro"></header-logo>

  <form [formGroup]="registerForm" (submit)="createUser()">

    <ion-item>
      <ion-icon name="person" slot="start" color="if"></ion-icon>
      <ion-input formControlName="name" type="text" placeholder="nome" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" slot="start" color="if"></ion-icon>
      <ion-input formControlName="surname" type="text" placeholder="sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="e-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="key" slot="start" color="if"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="key" slot="start" color="if"></ion-icon>
      <ion-input formControlName="confirm_password" type="password" placeholder="confirmar senha"></ion-input>
    </ion-item>

    <br /><br />

    <ion-button [disabled]="registerForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button>
  </form>

</ion-content>


<footer-button texto="Voltar" link="/auth/login"></footer-button>