<ion-header>
  <ion-toolbar>
    <ion-title>Extrato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-select [(ngModel)]="filterValue" placeholder="Filtro" (ionChange)="filter()">
      <ion-select-option value="">Tudo</ion-select-option>
      <ion-select-option value="pay">Pagar</ion-select-option>
      <ion-select-option value="recive">Receber</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item *ngFor="let bill of bills">
      <ion-label class="border-{{bill.StatusDaConta}}">
        <h2>{{bill.parceiroComercial}}</h2>
        <p>{{bill.descricao}}</p>
        <p>{{bill.data}}</p>
        <h3 *ngIf="bill.statusDaConta == 0"> - R$ {{bill.valor}}</h3>
        <h3 *ngIf="bill.statusDaConta == 1">R$  {{bill.valor}}</h3>
      </ion-label>
      <ion-icon slot="end" name="trash" (click)="remove(bill.id)"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/bills/bill']" fill="clear" color="medium" expand="block">Nova conta</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>