<ion-content class="ion-padding">

  <header-logo></header-logo>

  <form [formGroup]="loginForm" (submit)="login()">
    <ion-item>
      <ion-icon name="mail" slot="start" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="e-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="key" slot="start" color="if"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="senha"></ion-input>
    </ion-item>

    <br /><br />

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth/register']" fill="clear" color="medium" expand="block">Cadastre-se</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>