<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="[link]" fill="clear" color="medium" expand="block">{{texto ? texto : 'voltar'}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>