<ion-content class="ion-padding">

  <header-logo  title="Esqueci minha senha"></header-logo>

  <form [formGroup]="forgotForm" (submit)="recoverPassword()">
    <ion-item>
      <ion-icon name="mail" slot="start" color="if"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="e-mail" autofocus="true"></ion-input>
    </ion-item>

    <br /><br />

    <ion-button [disabled]="forgotForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button>
  </form>


</ion-content>

<footer-button texto="Voltar" link="/auth/login"></footer-button>